name: Deploy to Hostinger Telecarezone
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Optional: Add build steps here if using React/Vue
      - name: Install & Build
         run: |
           npm install
           npm run build

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          local-dir: ./dist/
          server-dir: ./public_html/dev/
          exclude: |
            **/.git*
